body {
  font-family: system-ui, sans-serif;
}

#editorsContainer {
  display: flex;
  height: 100ch;
  border-bottom: solid rgb(196, 196, 196) 1px;
}

#editorsContainer > div {
  height: 100%;
}

#editorsContainer > div:nth-child(2) {
  border-left: solid rgb(196, 196, 196) 1px;
  padding-left: 7px;
  margin-left: 2px;
}

#editorsContainer > div:nth-child(2):hover {
  cursor: col-resize;
}

#editorsContainer > div:nth-child(2).active {
  background-color: rgb(204 228 246);
}

#editorsContainer > div:nth-child(2n - 1) {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
}

#editorsContainer > div:nth-child(2n - 1) > :first-child {
  height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  padding-bottom: 1rem;
  border-bottom: solid rgb(196, 196, 196) 1px;
}

#editorsContainer > div:nth-child(2n - 1) > :last-child {
  height: calc(100% - 4.5rem);
}

#editorsContainer > div:nth-child(2n - 1) > ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

#editorsContainer > div:nth-child(1) > ul {
  margin-right: -2px;
}

#editorsContainer > div:nth-child(3) > ul {
  margin-left: -7px;
}

#editorsContainer > div:nth-child(2n - 1) > ul h4 {
  margin-left: 1rem;
}

#editorsContainer > div:nth-child(1) > ul > li:last-child {
  margin: 0 1rem 0 auto;
}

label {
  margin-right: .5rem;
}

textarea {
  width: 100%;
  height: 20ch;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  #editorsContainer {
    flex-direction: column;
    height: 200ch;
  }

  #editorsContainer > div:nth-child(2) {
    display: none;
  }
  
  #editorsContainer > div:nth-child(2n - 1) {
    width: 100%;
    height: 50%;
  }
}
